@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');


* {
    margin: 0;
    font-family: "Josefin Sans";
    
  }
  
  .App {
    font-family: "Josefin Sans", sans-serif;
    width: 100vw;
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    
  }

  #light {
    background-color: #eef6fc;
  }
  
  #dark {
    background-color: #01004e
  }

  .navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: -400px;
    justify-content: center;
  }
  #light .navbar{
    border-bottom: 1px solid #031684;
  }
  #dark .navbar {
    border-bottom: 1px solid #f2f2f2;
  }

  
  .navbar h1 {
    color: #001944;
    font-weight: bolder;
   
  }

  #light .navbar h1 {
    color: rgb(1, 12, 58);
  }
  #dark .navbar  h1{
    color: rgb(255, 236, 236);
  }
  
  .navbar .links {
    margin-left: 0px;

  }

  #light .navbar .links{
    color: rgba(0, 30, 151, 0.523);
  }
  #dark .navbar .links{
    color: rgb(255, 255, 255);
  }

  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    font-weight: bold;
    color: #004dd1;
  }

  #light .navbar a{
    color: rgb(0, 30, 151);
  }
  #dark .navbar a{
    color: rgb(255, 255, 255);
  }

  .navbar a:hover {
    color: #092d6c;
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
  }


  




.body {
  height: 100vh;
  width: 100%;
  justify-content: center;

}
#light .body{
  background-color: #579bf5;
}

#dark .body{
  background-color: #002668;
}

  .content {
    max-width: 600px;
    margin: 40px auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    font-weight: bold;
    background-color: rgb(192, 13, 13);
    height: 40vh;
    width: 100%;
  }

  body .content {
    max-width: 600px;

    padding: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 50%;
    box-shadow: inset;
    justify-content: center;
    position: relative;
  }

  #light .content{
    background-color: #dee9fa;
  }

  #dark .content{
    background-color: #03025dfc;
  }

  .portfolio-preview {
    padding: 10px 16px;
    margin: 20px o;
    position: relative;

  }

  #light .portfolio-preview{
    border-bottom: 1px solid #031684;
  }
  #dark .portfolio-preview {
    border-bottom: 1px solid #f2f2f2;
  }

  

  .portfolio-preview:hover {
    box-shadow: 1px 3px 5px #092d6c;
  }
  #light .portfolio-preview:hover {
    background-color: rgba(3, 63, 184, 0.523);
  }
  #dark .portfolio-preview:hover{
    background-color: rgba(77, 84, 176, 0.523);
  }

  .portfolio-preview h2 {
    font-size: 20px;
    color: #092d6c;
    margin-bottom: 8px;
  }

.portfolio-list h2 {
  font-style: normal;
  font-weight: bolder;
  font-size: larger;
  color: #f2f2f2;
}

#light .portfolio-list h2{
  color: rgba(0, 22, 111, 0.523);
}
#dark .portfolio-list h2{
  color: rgb(255, 255, 255);
}


.portolio {
  max-width: 600px;
    margin: 40px auto;
    margin-bottom: 120px;
    margin-top: 70px;
    padding: 20px;
    font-weight: bold;
    height: 100vh;
    width: 50%;
    box-shadow: inset
}

#light .portfolio {
  color: rgba(28, 78, 1, 0.837);
}
#dark .portfolio{
  color: rgb(255, 206, 173);
}

.title{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#light .title {
  color: rgba(3, 63, 184, 0.907);
}
#dark .title {
  color: rgb(255, 206, 173);
}


.switch{
  display: flex;
  position: relative;
  cursor: pointer;
  margin-left: 350px;
  height: 3px;
  width: 4vw;
  color: black;


}

#light .switch {
  color: rgba(202, 225, 255, 0.523);
}
#dark .switch{
  color: rgba(0, 11, 158, 0.523);
}

.home{
  height: 70vh;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 15px;
  font: bolder;
  font-style: italic;
 
}


#light .home {
  color: rgba(2, 22, 87, 0.523);
}
#dark .home{
  color: rgba(255, 255, 255, 0.944);
}
.home h1{
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  font: bolder;
  font-style: italic;
  margin-top: 20px;
}
#light .home h1 {
  color: rgba(28, 78, 1, 0.837);
}
#dark .home h1{
  color: rgb(255, 206, 173);
}
.imageme {
  height: 200px;
  width: 180px;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  margin-top: 20px;
}

.tools{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: larger;
}

.skills {
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  justify-content: center;
 

}
.react {
  height: 40px;
  font-style: normal;
  font-weight: bolder;
  margin-top: 30px;
  text-align: center;
  color:rgba(33, 94, 0, 0.71);
}

.html {
  height: 40px;
  font-style: normal;
  font-weight: bolder;
  margin-top: 30px;
  color: chocolate;
  text-align: center;
}

.css{
  height: 40px;
  font-style: normal;
  font-weight: bolder;
  margin-top:30px;
  color: #579bf5;
  text-align: center;
}

.js{
  height: 40px;
  font-style: normal;
  font-weight: bolder;
  margin-top: 30px;
  color: gold;
  text-align: center;
}

.vue{
  height: 40px;
  font-style: normal;
  font-weight: bolder;
  margin-top: 30px;
  color: lightseagreen;
  text-align: center;
}


.info {
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  font: bolder;
  font-style: italic;
  margin-top: 30px;
}

#light .info {
  
  color: rgba(13, 38, 0, 0.988);
}
#dark .info {
  color: rgb(255, 255, 255);
}

.click{
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  font: bolder;
  font-style: italic;
  margin-top: 30px;
  color: #eef6fc;
  padding: 0, 2px;
  justify-content: center;
}

.about {
  height: 100vh;
  width: 100%;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: medium;
  line-height: 25px;
  
}

#light .about {
  
  color: rgba(28, 78, 1, 0.837);
}
#dark .about{
  color: rgb(255, 255, 255);
}

.about h2{
  height: 30px;
  text-align: center;
  font-style: normal;
  font-weight: bolder;
  margin-bottom: 40px;
}

#light .about h2{
  color: rgb(0, 9, 75);
} 
#dark .about h2{
  color: rgb(255, 206, 173);
}

.about-b {
  text-align: left;
  margin-bottom: 0%;
}

#light .about-b {
  color: rgb(0, 40, 119);
}
#dark .about-b {
  color: rgb(255, 255, 255);
}

.about-b p{
  text-align: left;
  margin-bottom: 0%;
}
.resume {
  text-align: center;
  font-style: italic;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 0px;
  justify-content: center;
  background-color:  rgb(255, 206, 173);
  
}

.contacts {
  height: 30px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-top: 30px;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr,1fr;

}

#light .contacts {
  color: rgba(3, 63, 184, 0.907);
}
#dark .contacts {
  color: rgba(213, 186, 168, 0.79);
}

.github {
  height: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  color: black;
  margin: 20px;
}


.medium {
  height: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bold; 
  margin: 20px;
}

.twitter {
  height: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  color: #004dd1;
  margin: 20px;
}

.instagram {
  height: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  color: darkorchid;
  margin: 20px;
}

.telephone {
  height: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  color: darkslategrey;
  margin: 20px;
}

.email {
  height: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  color: crimson;
  margin: 20px;
}

.linkedin {
  height: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  color: rgb(20, 94, 164);
  margin: 20px;
}
.error {
  height: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bolder;
  color: crimson;
  margin: 20px;
}


@media only screen and (max-width: 400px) {
  .navbar{
    width: 40%;
    height: 0.7%;
  }

  .switch{
    width: 0.05%;
    height: 0.2%;
    margin-left: 300px;
  }

  .navbar h1{
  
    width: 40%;
    height: 1%;
   
  }

  .navbar .links {
    width: 60%;
    height: 1%;
    margin-left: 0px;
  }
}
